FROM {{ awx_web_docker_actual_image }}

COPY nginx.conf /etc/nginx/nginx.conf
COPY environment.sh /etc/tower/conf.d/environment.sh
COPY credentials.py /etc/tower/conf.d/credentials.py
COPY SECRET_KEY /etc/tower/SECRET_KEY